<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
     <li class="nav-item"> <a class="nav-link " routerLink="/"> <i class="bi bi-grid"></i> <span>Đơn thuốc</span> </a></li>
     <li class="nav-item"> <a class="nav-link " routerLink="/dsdonthuoc"> <i class="bi bi-menu-button-wide"></i> <span>DS Đơn</span> </a></li>
     <li class="nav-item"> <a class="nav-link " routerLink="/thuoc"> <i class="bi bi-bandaid"></i> <span>Thuốc</span> </a></li>
     <li class="nav-item"> <a class="nav-link " routerLink="/donvi"> <i class="bi bi-basket"></i> <span>Đơn vị</span> </a></li>
     <li class="nav-item"> <a class="nav-link " routerLink="/taikhoan"> <i class="bi bi-people-fill"></i> <span>Tài khoản</span> </a></li>
     <li class="nav-item"> <a class="nav-link " routerLink="/dangnhap"> <i class="bi bi-box-arrow-right"></i> <span>Đăng xuất</span> </a></li>
  </ul>
</aside>
