<main id="main" class="main">
  <div class="pagetitle">
     <h1>Danh sách đơn thuốc</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
           <li class="breadcrumb-item active">Danh sách đơn thuốc</li>
        </ol>
     </nav>
  </div>

  <button (click)="init()" type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Thêm
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mã QR đơn thuốc</th>
        <th scope="col">Mã đơn thuốc</th>
        <th scope="col">Mã người kê đơn</th>
        <th scope="col">Thời gian</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datas">
        <qrcode [qrdata]="item.idPrescription" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
        <td>{{item.idPrescription}}</td>
        <td>{{item.idDrUser}}</td>
        <td>{{item.datePrescription}}</td>

        <td (click)="sua(item)" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></td>
      </tr>
    </tbody>
  </table>
  <app-editds [data]="suadoi" (chinhsua)="capnhat($event)"></app-editds>
</main>
