<main id="main" class="main">
  <div class="pagetitle">
     <h1>Đơn thuốc</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
           <li class="breadcrumb-item active">Đơn thuốc</li>
        </ol>
     </nav>
  </div>
  <button (click)="init()" type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Thêm
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID đơn thuốc</th>
        <th scope="col">Tên thuốc</th>
        <th scope="col">Số lượng thuốc</th>
        <th scope="col">Cách dùng</th>
        <th scope="col">Giờ dùng</th>
        <th scope="col">Phút dùng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datas">
        <td>{{item.idPrescription}}</td>
        <td>{{item.idMedicine}}</td>
        <td>{{item.quantityDetailPrescription}}</td>
        <td>{{item.contentDetailPrescription}}</td>
        <td>{{item.hourDetailPrescription}}</td>
        <td>{{item.minuteDetailPrescription}}</td>

        <td (click)="sua(item)" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></td>
      </tr>
    </tbody>
  </table>
  <app-editdonthuoc [data]="suadoi" (chinhsua)="capnhat($event)"></app-editdonthuoc>
</main>
